html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 300%;
}

h3{
    font-size: 130%
}
body {
    margin:0;
    padding:0;
    border:0;
    min-width:800px;
    /* background-image: url("background.jpg"); */
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align:left;
}

div#container {
    margin: 0;
    padding: 0;
}

div#header {
    margin: 0;
    padding: 5px 5px 5px 10%;
    line-height: 1;
    display: block;
    width:100%;
    background-color: black;
    color: white;
    text-align:left;
}

div#content{
    background-color:white;
    width: 80%;
    height: 100%;
    color: black;
    padding: 10px;
    margin: auto;
    min-height: 600px;
}

div#frame {
    background-color:white;
    color:black;
    width: 100%;
    height: 100%;
}

div#table{
    padding: 0;
    margin: 0;
}

thead {
    background-color: royalblue;
}

tbody {
    background-color: white;
    color: black;
}